.logo {
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    font-size:25px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: default;
}

.color {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding:0.5rem;
    border-radius: 5px;;
}

.light {
    background: #8774c8;
}

.brown {
    background: #4a424a;
}

.green {
    background: #839378;
}

.right {
    display: flex;

}
