.fadeOut {
    animation: fadeOutAni 1s forwards;
}

@keyframes fadeOutAni {
    0% {}
    100% {
        transform: translateX(-100%);
        display:none;
    }

}

.fadeIn {
    animation: fadeInAni 1s forwards;
}

@keyframes fadeInAni {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);

    }

}