.checkBox {
    width:100%;
    display: block;
    margin-top:5px;
}

.checkBox > input {
    margin-right:5px;
}

.inputDate {
    width:70%;
    padding:10px;
    border-radius: 5px;
    border:none;
    margin:5px;
}

.inputText {
    width:70%;
    padding:10px;
    border:none;
    border-radius: 5px;
    margin:1rem 0; 
}