.profile {
    height:40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.text {
    font-size:17px;
    padding:1rem;
    border-radius:5px;
    width:90%;
    margin:auto;
    font-weight:bold;
}

.img {
    width:110px;
    height:110px;
    border-radius: 50%;
    overflow: hidden;
    margin:auto;
    margin-bottom: 1rem;
    cursor: pointer;
}

.img img {
    width:100%;
}

.name {
    padding-bottom:1rem;
    cursor: default;
}
.form {
    width:100%;
    display: flex;
    flex-direction :column;
}

.form input {
    margin:0.5rem 0;
    padding:0.5rem;
}