.profile {
    height:40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.closeBtn {
    position:absolute;
    top:10px;
    right:10px;
}

.img {
    
}

.file {
    display:flex;
    align-items: center;
}

.fileText {
    padding:0.5rem;
}

.text {
    font-size:17px;
    padding:1rem;
    border-radius:5px;
    width:90%;
    margin:auto;
    font-weight:bold;
}

.input {
    display:none;
}

.img {
    background: #fff;
    width:110px;
    height:110px;
    border-radius: 50%;
    overflow: hidden;
    margin:auto;
    margin-bottom: 1rem;
    cursor: pointer;
}

.img img {
    width:90%;
    height: auto;
}

.name {
    padding-bottom:1rem;
    cursor: default;
}
.modalForm {
    width:100%;
    height:auto;
    display: flex;
    flex-direction :column;
    color:#000;
}

.modalForm input {
    margin:0.5rem 0;
    padding:0.5rem;
}