.weekly {
    padding-bottom:1rem;
}

.title {
    text-shadow: 2px 2px 0 #bcbcbc;
    font-size:25px;
    font-weight: bold;
    padding:1rem 0;
}

.li {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:17px;
}
