.title { 
    font-family: 'SDSamliphopangche_Outline';
    font-size: 6em; 
    stroke: var(--whiteColor);
    fill:var(--backColor);
    animation: stroke 3s linear;
    animation-fill-mode : forwards;
    stroke-dasharray: 400px;
    cursor: default;
}

.subTitle {
    font-family: 'Cafe24Oneprettynight';
    fill: var(--backColor);
    font-size: 25px;
    font-weight: 500;
    animation: fill 3s linear;
    animation-delay : 2s;
    animation-fill-mode : forwards;
}

@keyframes stroke { 
    0% { 
        stroke-dashoffset: 400px; 
    } 
    
    100% { 
        stroke-dashoffset: 0px; 
        fill:var(--pointColor);
    } 
}
@keyframes fill { 
    100% { 
        fill:var(--whiteColor);
    } 
}
    
.login {
    width:110px;
    height:40px;
    border-radius: 5px;
    background: none;
    border:2px solid var(--backColor);
    font-family: 'Cafe24Oneprettynight';
    font-weight: bold;
    color:var(--whiteColor);
    font-size: 20px;
    cursor: pointer;
    transition:1s;
    letter-spacing: 3px;
    animation: loginAni 1s linear;
    animation-delay : 4s;
    animation-fill-mode : forwards;
    z-index: -1;
}


@keyframes loginAni { 
    
    100% { 
        z-index: 1;
    } 
}

.login:hover {
    color:var(--pointColor);
    
}